
@{
    ViewBag.Title = "صفحه کارهای موقت";
}

<h2>Index</h2>


<form action="/Home/ProcessForm" method="post">
    نام: <input type="text" name="firstname" />
    <br />
    نام خانوادگی: <input type="text" name="lastname" />
    <br />
    <button type="submit">
        ثبت نام
    </button>
</form>