
@{
    ViewBag.Title = "تست";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";

    //Layout = ViewBag.ThemeName;
}

<a href="~/Views/Shared/_Layout.cshtml"></a>
<h2>Test</h2>

@using (Html.BeginForm("SetLayot", "temp"))
{
    //drop down for selecting theme //onchang="this.form.submit()"
        <div class="form-group">
            @Html.Label("layout", "قالب تم :")
            @Html.DropDownList("layout", new List<SelectListItem> {
                    new SelectListItem { Text ="Drakly", Value = "Drakly" },
                    new SelectListItem { Text ="Slate", Value = "Slate" },
                    new SelectListItem { Text = "Solar", Value = "Solar" },
                    new SelectListItem { Text = "Superhero", Value = "Superhero" },
                    new SelectListItem { Text = "United", Value = "United" }
            }, new { onchange = "this.form.submit()" }
 )
        </div>

        @*<div class="form-group">
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-send"></span>
                تغییر قالب
            </button>
        </div>*@
    }