@model DigiMovie.ViewModels.RandomViewModel
@{
    ViewBag.Title = "Random";
}

<br /><br />

<h2>شناسه فیلم : @Model.Movie.Id</h2>
<h2>نام فیلم : @Model.Movie.Name</h2>
<hr />

<table border="1" width="60%">
    <tr>
        <th>شناسه مشتری</th>
        <th>نام مشتری</th>
    </tr>
    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>

